<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pfe_jobz_recherche_emploi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".VoirProfilCV"
            android:exported="false" />
        <activity
            android:name=".PostezCV"
            android:exported="false" />
        <activity
            android:name=".SignInRec"
            android:exported="false" />
        <activity
            android:name=".ADMIN_EMAILS"
            android:exported="false" />
        <activity
            android:name=".ADMIN_COMPTES_CAND"
            android:exported="false" />
        <activity
            android:name=".ADMIN_COMPTES_REC"
            android:exported="false" />
        <activity
            android:name=".ADMIN"
            android:exported="false" />
        <activity
            android:name=".ModifierProfilCand"
            android:exported="false" />
        <activity
            android:name=".__ModifierOffre"
            android:exported="false" />
        <activity
            android:name=".VoirInformationsDuCandidat"
            android:exported="false" />
        <activity
            android:name=".GestionAlertesCand"
            android:exported="false" />
        <activity
            android:name=".Postuler"
            android:exported="false" />
        <activity
            android:name=".JobDetails"
            android:exported="false" />
        <activity
            android:name=".__AjouterOffre"
            android:exported="false" />
        <activity
            android:name=".CreateRECAccount"
            android:exported="false" />
        <activity
            android:name=".CreateCANDAccount"
            android:exported="false" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".HomeRec"
            android:exported="false" />
        <activity
            android:name=".HomeCand"
            android:exported="false" />
        <activity
            android:name=".InterfaceAcceuil"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.pfe_jobz_recherche_emploi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>